<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4093B0EE1C1732E300991C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4093B1051C1732E400991C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4093B1101C1732E400991C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
